{% extends 'map_system/commons/header.html' %}
{% load staticfiles %}
{% block body_context %}
    <div id="container">
        <!-- Sidebar -->
        <div id="map"></div>

    </div>

    {#    {% include 'map_system/content/tools_panel.html' %}#}

    {#    {% include 'map_system/content/nav_bar.html' %}#}

    <div id="objectInfo" style="background: darkgray;display: none;border-radius: 13px;height: 94%;padding: 0"
         class="col-md-2 pull-right">
        <div class="panel-heading text-center">
            <h4> Spatial Object ID: <span id="objectInfoId" class="text-info"></span>
                <i id="objectInfoCloseButton" class="fa fa-times pull-right"
                   onclick="$('#objectInfo').animate({width: ['toggle','swing']},200);toggled = false;spatialObject = currentSpatialObjects[selectedSpatialObject];spatialObject.removePath();spatialObject.marker.closePopup();selectedSpatialObject = null;">
                </i>
            </h4>
        </div>
        <div class="panel panel-default" style="max-height: 47%;overflow: auto;box-shadow: 0 0 8px 0 #635749">
            <div class="panel-heading text-center"><h4>Speed variation</h4>
            </div>
            <div class="panel-body">
                <!-- TODO:  setting `margin-left` to increase the area of the chart is a bad hack there should be a better way to do this check :P -->
                <div style="margin: 0;border: none;margin-left: -25px" id="chart_div"></div>
            </div>
        </div>

        <div class="panel panel-default" style="max-height: 47%;overflow: auto;box-shadow: 0px 0px 8px 0px #635749">
            <div class="panel-heading text-center">
                <div class="panel-title"><h4>Alerts</h4></div>
            </div>
            <div class="panel-body" style="padding: 0px">
                <div id="showAlertsArea" class="list-group" style="margin-top: 15px">

                </div>

            </div>
        </div>
        <!--/panel-->
    </div>


    <!-- Modals in use -->
    {% include 'map_system/content/about.html' %}


    <div class="modal" id="attributionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Knnect smart connector
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="attribution"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- General modal placeholder , TODO: open all the modal through this wrapper via remote AJAX calls -->
    <div class="modal" id="commonModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- This content is load by $.ajax call , pages are located at '/controllers/modals/' -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /Modals in use -->


    <!-- Combined and compiled JS with google closure compile-->

    <!-- Template HTML components used by JS to inject contents-->
    <div style="display: none">
        <div id="markerPopup" class="popover top">
            <div class="arrow"></div>
            <h3 class="popover-title">ID <span id="objectId"></span></h3>

            <div class="popover-content">
                <h6>Information</h6>

                <p id="information" class="bg-primary" style="margin: 0px;padding: 0px;"></p>
                <h6>Speed<span class="label label-primary pull-right"><span id="speed"></span> km/h</span></h6>
                <h6>Heading<span id="heading" class="label label-primary pull-right"></span></h6>
                <button type="button" class="btn btn-info btn-xs">History</button>
            </div>
        </div>

        <div id="setWithinAlert">
            <form role="form" style="width: auto;">
                <div class="form-group">
                    <label class="text-primary" for="queryName">Query name</label>
                    <input class="form-control" id="queryName" placeholder="Query name" type="text">
                    <span class="help-block">Can use this name to locate the execution plan</span>

                    <label class="text-primary" for="areaName">Fence name</label>
                    <input class="form-control" id="areaName" placeholder="Fence name" type="text">
                    <span class="help-block">Name of the selected area(i.e colombo)</span>
                </div>
                <div>
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <div class="btn-group">
                            <button id="addWithinAlert" onclick="setWithinAlert($(this).attr('leaflet_id'))"
                                    type="button"
                                    class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left"
                                    title="Save selected area for alerts">Save
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="editGeoJson"
                                    onclick="$('#editWithinGeoJSON #updateGeoJson').attr('leaflet_id',$(this).attr('leaflet_id'));$('#editWithinGeoJSON textarea').text(JSON.stringify(map._layers[$(this).attr('leaflet_id')].toGeoJSON(),null, '\t'));$('#editWithinGeoJSON').modal('toggle')"
                                    type="button" class="btn btn-default btn-xs">Edit
                            </button>
                        </div>
                        <div class="btn-group">
                            <a id="exportGeoJson" download="geoJson.json" href="#"
                               onclick="exportToGeoJSON(this,JSON.stringify(map._layers[$(this).attr('leaflet_id')].toGeoJSON(),null, '\t'))"
                               class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left"
                               title="Export selected area as a geoJson file">Export</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="templateLoader"></div>
        <div id="setStationeryAlert">
            <form role="form" style="width: auto;">
                <div class="form-group">
                    <label class="text-primary" for="queryName">Query name</label>
                    <input class="form-control" id="queryName" placeholder="Query name" type="text">
                    <span class="help-block">Can use this name to locate the execution plan</span>

                    <label class="text-primary" for="areaName">Fence name</label>
                    <input class="form-control" id="areaName" placeholder="Stationery name" type="text">
                    <span class="help-block">Name of the selected area(i.e colombo)</span>

                    <label class="text-primary" for="time">Time</label>
                    <input class="form-control" id="time" placeholder="Seconds" type="text">
                </div>
                <div>
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <div class="btn-group">
                            <button id="addStationeryAlert" onclick="setStationeryAlert($(this).attr('leaflet_id'))"
                                    type="button"
                                    class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left"
                                    title="Save selected area for alerts">Save
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="editGeoJson"
                                    onclick="$('#editWithinGeoJSON #updateGeoJson').attr('leaflet_id',$(this).attr('leaflet_id'));$('#editWithinGeoJSON textarea').text(JSON.stringify(map._layers[$(this).attr('leaflet_id')].toGeoJSON(),null, '\t'));$('#editWithinGeoJSON').modal('toggle')"
                                    type="button" class="btn btn-default btn-xs">Edit
                            </button>
                        </div>
                        <div class="btn-group">
                            <a id="exportGeoJson" download="geoJson.json" href="#"
                               onclick="exportToGeoJSON(this,JSON.stringify(map._layers[$(this).attr('leaflet_id')].toGeoJSON(),null, '\t'))"
                               class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left"
                               title="Export selected area as a geoJson file">Export</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- markup for setup dashboard wizard content -->
    {#    {% include 'map_system/commons/setup_wizard/index.html' %}#}

    <!-- ** comment out below library if using minified library **  -->
    <script src="{% static 'local/app.js' %}"></script>

{% endblock %}
