<nav class="navbar navbar-inverse" role="navigation" style="width: 60%">
    <div class="navbar-header">
        <div class="navbar-icon-container">
            <a href="#left_side_pannel" data-uk-offcanvas class="navbar-icon pull-right visible-xs"
                    ><i class="fa fa-bars fa-lg" style="color: #FF9900"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs"
               onclick="$('.navbar-collapse').collapse('toggle');return false;"><i class="fa fa-search fa-lg"
                                                                                   style="color: #FF9900"></i></a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="hidden-xs"><a href="#left_side_pannel" data-uk-offcanvas>
                <i class="fa fa-list" style="color: #FF9900"></i></a></li>
        <li>
            <button type="button" class="btn btn-success" onclick="show_density()">Show Density</button>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in"
                           onclick="$('#aboutModal').modal('show'); return false;">About</a>
                    </li>
                    <li><a href="#">Doc</a></li>
                    <li class="divider"></li>
                    <li><a href="controllers/logout.jag">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>