<div id="left_side_pannel" class="uk-offcanvas">
    <div class="uk-offcanvas-bar" style="box-shadow: 3px 14px 13px -2px #8b8b8b;background: #ffffff">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
            <li class="uk-parent" style="box-shadow: 0 2px 12px 1px #cccdbd;min-height: 50px;line-height: 25px;">
                <a href="#" style="min-height: 50px;">
                    <span style="color: #3dc4d5">X<sub style="font-size: medium;color:#ffaeea;"> Factors</sub></span>
                    System
                </a>
                <ul class="uk-nav-sub">
                    <li style="color: #969490">
                        X-Factor System allows users to see realtime human density.
                    </li>
                </ul>
            </li>
            <li class="uk-nav-header">Analysis</li>
            <li class="uk-parent">
                <a href="#"><i class="fa fa-pencil-square-o"></i> Time Series</a>
                <ul class="uk-nav-sub">
                    <!-- Set speed limit -->
                    <li>
                        <a style="margin-left: 20%;" data-toggle="modal" href="{% url 'services:get_speed' %}"
                           data-target="#commonModal"><i
                                class="fa fa-tachometer"></i> Seasonal</a>
                    </li>
                    <li><a style="margin-left: 20%;" data-toggle="modal"
                           href=""
                           data-target="#commonModal"><i class="fa fa-link"></i> Trend</a></li>
                    <li><a style="margin-left: 20%;" data-toggle="modal"
                           href="{% url 'services:get_stationery' %}" data-target="#commonModal">
                        <i class="fa fa-chain-broken"></i> Cyclic</a></li>
                </ul>
            </li>

            <!-- Historical data section -->
            <li class="uk-nav-header">Prediction</li>
            <li class="uk-parent">
                <a href="#"><i class="fa fa-history"></i> Trends</a>
                <ul class="uk-nav-sub">

                    <li><a style="margin-left: 20%;" data-toggle="modal"
                           href="{% url 'services:estimate_trend' %}"
                           data-target="#commonModal"><i class="fa fa-road"></i> Predicted Density</a></li>
                </ul>
            </li>
            <!-- Settings section -->
            <li class="uk-nav-header">Settings</li>

            <!-- Add new tile server url -->
            <li>
                <a data-toggle="modal" data-target="#addTileServer"><i class="fa fa-plus"></i> Add New Camera/Sensor</a>
            </li>
            <!-- Add new WMS server url -->
            <li>
                <a data-toggle="modal" data-target="#addWmsUrl"><i class="fa fa-globe"></i> Add WMS end point</a>
            </li>

            <!-- Place holders need to remove or replace-->
            <li class="uk-nav-header">
                System Administrtion
            </li>

            <li>
                <a onclick="setupWizard.show();return false;"><i style="color: #ff8905;" class="fa fa-cogs"></i>
                    Setup
                    Dashboard</a>
            </li>
        </ul>
    </div>
</div>

